[package]
name = "staticrypt-testbin"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true
publish = false

[dependencies]
staticrypt = { version = "*", path = ".." }
